<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   key.plist
   CleanFoodLogger

   Created by Takahiro Kato on 2017/10/08.
   Copyright (c) 2017年 Takahiro Kato. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
